
body {
    padding: 15px;
    background-color: #8ECAE6;
    text-align: center;
}

.header{
    display: inline;
}




.btn{
    border: 1px black solid;
    margin: 5px;
    background-color: #FFB703;
}

